@page
@model ECommerce.Web.Pages.Manage.Cars.Delete
@{
}


<form method="POST">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    <div class="form-group">
        <label asp-for="Data.Car!.Make">Make</label>
        <input type="text" class="form-control" id="make" aria-describedby="carMakeHelp" placeholder="Enter make" asp-for="Data.Car!.Make" disabled>
        <small id="carMakeHelp" class="form-text text-muted">Make of the car is required.</small>
    </div>
    <div class="form-group">
        <label asp-for="Data.Car!.Manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" aria-describedby="carManufacturerHelp" placeholder="Enter manufacturer" asp-for="Data.Car!.Manufacturer" disabled>
        <small id="carManufacturerHelp" class="form-text text-muted">Manufacturer of the car is required.</small>
    </div>
    <div class="form-group">
        <label asp-for="Data.Car!.Year">Year</label>
        <input type="text" class="form-control" id="year" aria-describedby="carYearHelp" placeholder="Enter year" asp-for="Data.Car!.Year" disabled>
        <small id="carYearHelp" class="form-text text-muted">Year of the car is required.</small>
    </div>
    <input type="hidden" asp-for="Data.Car!.Id"/>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="~/manage/cars" class="btn btn-secondary">Back</a>
</form>